<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>{{ data.isEdit ? 'Edit' : 'Create' }} profession</mat-card-title>
    <form [formGroup]="professionForm"
          autocomplete="off"
          novalidate
          (ngSubmit)="save()"
          fxLayout="column wrap"
          fxLayoutAlign="center center"
          fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="Profession's name" formControlName="name" id="name">
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'max')">Name must be less than 60 characters</mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button
                color="warn"
                type="button"
                (click)="onNoClick()">Close</button>
        <button mat-raised-button
                color="primary"
                [disabled]="!professionForm.valid"
                (click)="save()">{{ data.isEdit ? 'Update' : 'Create' }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>

