<div class="container"  style="width: 90%; padding: 2rem">
  <table
    mat-table
    [dataSource]="(detailsAsMatTableDataSource$ | async) || dataSource"
    matSort
    class="mat-elevation-z8"
    style="width: 70%;">

    <ng-container matColumnDef="detailId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by detailId">
        Detail Id
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.detailId }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">
        Type
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.type | detailType }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
        Price
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="measureUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by measureUnit">
        Measure Unit
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.measureUnit }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled="true">Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
                matTooltip="Click to Edit"
                class="iconbutton"
                color="primary"
                (click)="editDetail(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-flat-button
                (click)="loadMostExpensiveDetail()"
                color="accent">Expensive detail</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled="true">Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
                matTooltip="Click to Delete"
                class="iconbutton"
                (click)="deleteDetail(element.detailId)"
                color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-flat-button
                (click)="createDetail()"
                color="success">Create new detail</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr mat-footer-row *matFooterRowDef="columns"></tr>
  </table>
</div>

<ng-template #most_expensive_detail_dialog>
  <h2 matDialogTitle>Function call</h2>
  <p matDialogContent>Most expensive detail's cost: <b>{{ mostExpensiveDetail$ | async }}</b></p>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeExpensiveDialog()">Close</button>
  </mat-dialog-actions>
</ng-template>
