/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, serif;
  background-color: #E8EAF6;
}

snack-bar-container.success {
  background: rgb(65, 252, 134);
}

snack-bar-container.error {
  background: #F44336;
}

snack-bar-container.notification {
  color:white;
}
