<div style="padding: 1rem;">
  <form style="display: flex; align-items: center; justify-content: center;">
    <mat-form-field style="width: 300px; margin: 1rem">
      <span matPrefix> </span>
      <input type="number" matInput placeholder="Operation Id" name= "operationId" [value]="(operationId$| async)?.toString()" (change)="onChange($event)" (keyup)="onChange($event)">
      <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>

    <mat-slide-toggle
      [checked]="isUseOrm$ | async"
      (change)="onToggle()"
      color="primary">
      Use Orm
    </mat-slide-toggle>
  </form>
</div>
<div class="container"  style="width: 90%; padding: 2rem">
  <table
    mat-table
    [dataSource]="(operationsDetailedAsMatTableDataSource$ | async) || dataSource"
    matSort
    class="mat-elevation-z8"
    style="width: 95%;">

    <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [sortActionDescription]="'Sort by ' + col.key">
        <b>{{ col.label }}</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{ element[col.key] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsKey"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsKey;"></tr>
  </table>
</div>
